.container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
    margin-bottom:6px;
}

.btn {
    display: inline-block;
    width: 360px;
    margin: 3px;
    margin-right: 20px;
    background-color: #C0C0C0; 
    color: #fff; 
    border: none;
    border-radius: 20px;
    padding: 10px 20px; 
    cursor: pointer;
    text-align: left;
    font-size: 14px; 
    text-decoration: none;
    font-style: italic;
}

.btn:hover {
    background-color: #4b5563; 
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #6b7280; 
}
